.Body{
    background-color: black;
}
#carouselExampleIndicators{
    height: 800px;
}

#DivLakers{
    background-image: url(./images/FotoLakers.jpeg);
    height: 750px;
    background-size: cover;
    background-position: center;
}

.TituloLakersW{
    color: white;
    margin-top: 250px;
    margin-left: 100px;
    font-size: 40px;
}

#DivGot{
    background-image: url(./images/FotoGot.jpeg);
    height: 750px;
    background-size: cover;
    background-position: center;
}

#DivGossip{
    background-image: url(./images/FotoGossip.avif);
    height: 750px;
    background-size: cover;
    background-position: center;
}

.ContinuarViendo{
    color: white;
    margin-left: 30px;
    font-size: 30px;
}

.card-group{
    height: 500px;
    border: none;
}

.card{
    height: 100%;
    color: white;

}

.card-body{
    background-color: black;
    height: 100px;
}

.card-title{
    color: white;
}

.footer{
    margin-top: 70px;
    height: 200px;
}